/*Promo Page */
#promo-main {
  height: calc(100vh - 200px);
  padding-top: 20%;
  padding-bottom: 20%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 150px;
}

/* Register Page */
.register-header p {
  margin-bottom: 20px;
}
.register-header a{
  margin-right: 20px;
}
.register-container {
  margin-top: 50px;
}
.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@font-face {
  font-family: 'Roboto'
  src: url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 30px auto;
}

.content {
  padding-left: 5%;
  width: 95%;
  text-align: center;
}

#slightly-left {
  margin-right: 10%;
}
.notification {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

/* Device*/

#variables, #diagnostic {
}
.data-unit {
  margin-bottom: 20px;
}
.data-unit h6 {
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 0px;
}
.data-unit p {
  margin-bottom: 0px;
}

.content .data-unit p, h6 {
  margin-left: 0px;
  text-align: left;
}
.data-line {
  display: flex;
  flex-wrap: nowrap;
}

.data-line p {
  margin-right: 10%;
}
.data-line h6 {
  padding-top: 8px;
  min-width: 100px;
}
.panel {

    width: calc(142px * 8 + 5px);
  margin-left: calc(50% - 142px * 4 + 2.5px);
}
.panel-body {
  padding: 20px;
}
/* Control Panels */
.bar {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;

}
.no-show {
  display: none;
}
.no-visible {
    visibility: hidden;
}
.title {
  margin-right: auto;
  margin-left: auto;
}
.panel-tile {
  text-align: center;
  margin-right: 5px;
  margin-bottom:5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 279px;

}
a.panel-tile {
  color: inherit;
}
.danger-box {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin-top: 1px;
  margin-left: calc(50% - 142px * 4 + 2.5px);
  width: calc(142px * 8 + 5px);
}
.panel-tile h5 {
  margin-top: 10%;
  min-height: 3em;
  font-size: 20pt;
}
.panel-tile p {
    margin-top: auto;
    color: rgba(0, 0, 0, 0.54);
}
.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.widgets p {
  width:100%
}
#green {
  color: rgba(46,204,113,0.54);
}
#yellow {
  color: rgba(241,196,15,0.54);
}
#red {
  color: rgba(231,76,60,0.54);
}
p.status {
  margin-top: -px;
}
.widget {
  display: flex;
  flex-wrap: wrap;
}
.widget a {
  display: flex;
  flex-wrap: wrap;
}
.widget h5 {
  margin-top: 5px;
}
.widget h5 {
    width: 100%;
}
.widget p {
  color: black;
}
.img {
 width: 100%;
 text-align: center;
}

@media screen and (min-width: 680px) {
  .widgets {
    justify-content: space-between;

  }
  .panels, .bar {
    justify-content: flex-start;
    margin-left: calc(50% - 140px * 2 + 2.5px);
  }
  .bar{
    margin-right: calc(50% - 140px * 2 + 2.5px);
  }
  a.container {
    width: 49%;

  }

}

@media screen and (min-width: 800px) {
  .img {
    width:150px;
  }
  .widget p {
    width: calc(100% - 155px);
  }

}

@media screen and (min-width: 980px)
{
  .panels, .bar {
      margin-left: calc(50% - 142px * 3 + 2.5px);

  }
  .bar{
    margin-right: calc(50% - 142px * 3 + 2.5px);
  }
}
@media screen and (min-width: 1280px)
{
  .panels, .bar {
      margin-left: calc(50% - 142px * 4 + 2.5px);

  }
  .bar{
    margin-right: calc(50% - 142px * 4 + 2.5px);
  }
}

/*Widget settings*/
.title {
  margin-bottom: 20px;
}

 .input-group {
  display: flex;
}
.setting {
  display: flex;
  justify-content:center;

}
.widget-setting-group {
  display: flex;
  justify-content: flex-start;
}
.left-setting {
  margin-left: 20%;
  visibility: hidden;
}
.widget-setting-category {
  width: 15%;
  color: rgba(0, 0, 0, 0.54);
}
.widget-setting-label {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 10%;
  width: 20%;
}
p.editable {
  color: #34495e; 
}

#token {
  margin-left: 240px;
}
#gray {
  margin-top: -25px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12pt;
}

#below {

margin-bottom: -5px;
}

.content .widget-setting-label p {
  text-align: left;
}
.widget-setting {
  margin-left: 3%;
  text-align: left;

}
.content .widget-setting p {
  text-align: left;
  margin-left: 0px;
}
hr {
  margin-left: 25%;
  width:50%;
}

.notification {
  margin-bottom: 20px;
}

.right-setting {
  visibility: hidden;
  margin-right: 20%;
}
.right-setting-show {
  margin-right: 20%;
}
.status .right-setting-show{
  margin-left: -20%;
  margin-right: 30%;
  display:flex;
  height: 100%;
}
.status .right-setting-show p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12pt;
    padding-bottom: 0px;
}
.text {
  margin-top: 10%;

}

.text p {
  margin-top: 20px;
}

.settings {
  margin-top: 5%;
}
.variables {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.variables h2, .special h2 {
  font-size: 16pt;
}
.variable {
  margin: 2px;
}
.variable h3 {
  font-size: 14pt;
  float:left;
  font-weight: normal;
  color:gray;
}
.content .variable p {
  text-align: left;
padding-left: 35%;
}
.form-control {
  max-width: 200px;
}
.values {
  display: flex;
  margin: 5px;
  margin-left: 30%;
}

/* Typography */

h1 {
	font-weight: 300;
  font-size: 20pt;
	flex: 1;
  text-align: center;
  margin-top: 15px;
}


h5 {
  font-size: 20;
	font-weight: 500;
	line-height: 1.5em;
  text-align: center;

}
.content p {
  text-align: center;
  margin-left: 5px;
}
