.panels {
  display: flex;
  flex-wrap: wrap;
}

@font-face {
  font-family: 'Roboto'
  src: url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
}
body {
  font-family: 'Roboto', sans-serif;
  margin-left, margin-right: 30px;
}

.content {
  padding-left: 5%;
  max-width: 95%;
}
.panel {
  text-align: center;
  margin-right: 5px;
  margin-bottom:5px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  min-width:200px;
  flex-basis: content;

}

.longwidget {
  width: 100%;
  text-align: center;
  margin-right: 5px;
  margin-bottom:5px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  border-radius:5px;
  border-width:1px;
}
.widget {
  width: 100%;
  text-align: center;
  margin-right: 5px;
  margin-bottom:5px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  border-radius:5px;
  border-width:1px;
}
.smallwidget {
  width: 100%;
  text-align: center;
  margin-right: 5px;
  margin-bottom:5px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  border-radius:5px;
  border-width:1px;

}
.fortwo {
  width: 100%;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow:1;
  max-height: 250px;
}

/* Typography */

h1 {
	font-weight: 300;
  font-size: 20pt;
	flex: 1;
  text-align: left;
  margin-top: 15px;
}

h2 {
  background-color: pink;
  font-size: 150px;
}
h4 {
  font-size: 20;
}
h5 {
  padding-top: 10%;
  font-size: 20;
	font-weight: 500;
	line-height: 2em;

}

h6 {
	color: #666;
	font-size: 14px;
}


@media screen and (min-width: 500px) {
  .widget {
    max-width: calc(50% - 5px);
  }
  .fortwo {
    max-width: calc(50% - 5px);
  }
}

@media screen and (min-width: 750px) {
  .widget {
    max-width: calc(25% - 5px);
  }
  .fortwo {
    max-width: calc(25% - 5px);
  }
}

